html {
    background: #f0f0f0;
}
details{
list-style: url(html.png);
}
details > summary{
list-style: none;
}
summary:before{
    content: url(html.png);
}
details[open] summary:before{
content: url(html.png);
}

.html {
    width: 200px;
    background: #fff;
}

.html ul {
list-style-type: none;
}

.html li {
list-style-type: none;
}
