body {
    background-image: url("fon.jpg");
}
details{  
    content: url('html.png') ;
    
}
details > summary{
list-style: none;
}
summary:before{
    content: url('html.png') ;
    
}

details[open] summary:before{
    content: url('html.png') ;
    
}

.html {
    width: 200px;
}

.html ul {
list-style-type: none;
}

.html li {
list-style-type: none;
}
