body {
    background-image: url("fon.jpg");
}

h1{
    color: #df3939cb;
    font-family:sans-serif;
}
.html{
    width: 250px;
}
details > summary{
    list-style: none;
}
.html li{
    list-style: none;
    color:#727262bd;
    font-size: 1.5em;
}
.html li ul a{
    color:#727262bd;
    text-decoration: none;
    font-size: 1.17em;
}
details{
    list-style: url("HTML5.png");
}
 summary:before{
    content: url("HTML5.png");
}
 details[open] summary:before{
    content: url("HTML5.png");
}

.html li ul a:visited{
    color: #efe041c9; 
}
.html  li:hover{
    text-decoration: none;
    color: #efe041;  
    background: #70706456; 
}
