body {
    background-color: black;
    color: ghostwhite;
}
h1, h2, h3, h4, h5, h6 {
    text-align: right;
    color: crimson;
    font-family:sans-serif;
}
p {
text-align: right;
}
em{
    color:chartreuse;
}