body {
    background-color: black;
    color: ghostwhite;
}
h1, h2, h3, h4, h5, h6 {
    text-align: right;
    color: crimson;
    font-family:sans-serif;
}
p {
text-align: right;
}
em{
    color:chartreuse;
}
@media print {

    body {
        background-color: rgba(255, 255, 255, 0.953);
        color: rgb(0, 0, 0);
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: right;
        color: rgb(0, 0, 0);
        font-family:sans-serif;
    } 
    em{
        color:rgb(0, 0, 0);
    }
}