#image_0{background-image:url('Result.png'); background-position:0px -0px; width:16px; height:16px; }
#image_1{background-image:url('Result.png'); background-position:16px -0px; width:16px; height:16px; }
#image_2{background-image:url('Result.png'); background-position:32px -0px; width:16px; height:16px; }
