body {
    background-image: url("carbon-fibre-big.png");
    color: ghostwhite;
}
h1, h2, h3, h4, h5, h6 {
    margin: 25px;
    color:fuchsia;
    font-family:'Roboto',sans-serif;
}
p {
margin:15px;
}
strong{
    font-family: 'Caveat',sans-serif;
}
em{
    color:chartreuse;
    padding: 2px;
    border-bottom: double;
}